<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('./partials/solewayCss.ejs') %>
<!-- Toastify CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<%- include('./partials/solewayTopBar.ejs') %>



				<!-- Top bar end -->

				<div class="wrap-menu-desktop">
					<nav class="limiter-menu-desktop container">

						<!-- Logo desktop -->
						<a href="/" class="logo">
							<img src="/images/icons/1.png" alt="IMG-LOGO">
						</a>

						<!-- Menu desktop -->
						<div class="menu-desktop">
							<ul class="main-menu">
								<li >
									<a href="/" style="text-decoration: none;">Home</a>


								</li>
								

								<li>
									<a href="/Shop" style="text-decoration: none;">Shop</a>
								</li>

								
								<li>
									<a href="/Blog" style="text-decoration: none;">Blog</a>
								</li>

								<li>
									<a href="/About" style="text-decoration: none;">About</a>
								</li>

								<li class="active-menu">
									<a href="/Contact" style="text-decoration: none;">Contact</a>
								</li>
							</ul>
						</div>

						<!-- Icon header -->
						<div class="wrap-icon-header flex-w flex-r-m">
							<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
								<i class="zmdi zmdi-search"></i>
							</div> -->

					
                        </div>

						
						<% if (findUser) { %> <!-- Only check if user is logged in -->
							<a href="/Cart" 
							   class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" 
							   data-notify="<%= cartCount > 0 ? cartCount : 0 %>">
								<i class="zmdi zmdi-shopping-cart"></i>
								
							</a>
						
							<a href="/Wishlist" 
							   class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" 
							   data-notify="<%= wishlistCount > 0 ? wishlistCount : 0 %>">
								<i class="zmdi zmdi-favorite-outline"></i>
								
							</a>
						<% } %>
						
						</div>
					</nav>
				</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo mobile -->
			<div class="logo-mobile">
				<a href="/"><img src="/images/icons/1.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div> -->

				<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div> -->

				<% if (cartCount > 0 && findUser && wishlistCount) { %> <!-- Use cartCount instead of locals.cartCount -->
					<a href="/Cart"
					  class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
					  data-notify="<%= cartCount > 0 ? cartCount : 0  %>">
					  <i class="zmdi zmdi-shopping-cart"></i>
					</a>
				  
				  

					<a href="/Wishlist"
						class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
						data-notify="<%= wishlistCount > 0 ? wishlistCount : 0 %>">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>
					<% } %>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			
			<ul class="main-menu-m" >
				<li>
					<a href="/" style="text-decoration: none;">Home</a>
					
					
				</li>

				<li>
					<a href="/Shop" style="text-decoration: none;">Shop</a>
				</li>

				

				<li>
					<a href="/Blog"  style="text-decoration: none;">Blog</a>
				</li>

				<li>
					<a href="/About" style="text-decoration: none;">About</a>
				</li>

				<li class="active-menu">
					<a href="/Contact" style="text-decoration: none;">Contact</a>
				</li>
				<li>
					<a href="/Account" style="text-decoration: none;">Account</a>

				</li>

				
				<% if (locals.findUser) { %>
					<li>
						<a href="/logout" style="text-decoration: none;">Logout</a>
	
					</li>
					<% } else { %>
						<li>
							<a href="/Login" style="text-decoration: none;">Login</a>
		
						</li>
						<li>
							<a href="/Register" style="text-decoration: none;">Register</a>
		
						</li>

						
						<% } %>




			</ul>
		</div>

		<!-- Modal Search -->

		<% if (locals.products) { %>


			<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
				<div class="container-search-header">
					<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
						<img src="images/icons/icon-close2.png" alt="CLOSE">
					</button>

					<form class="wrap-search-header flex-w p-l-15">
						<button class="flex-c-m trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="plh3" type="text" name="search" placeholder="Search...">
					</form>
				</div>
			</div>
			<% } %>
	</header>

	<!-- Cart -->
	

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form>
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Send Us A Message
						</h4>
				
						<!-- Name Field -->
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl16 plh3 size-116 p-l-62 p-r-30" type="text" name="name" placeholder="Your Name">
						</div>
				
						<!-- Email Field -->
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl16 plh3 size-116 p-l-62 p-r-30" type="text" name="email" placeholder="Your Email Address">
							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">
						</div>
				
						<!-- Subject Field -->
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl16 plh3 size-116 p-l-62 p-r-30" type="text" name="subject" placeholder="Subject">
						</div>
				
						<!-- Message Field -->
						<div class="bor8 m-b-30">
							<textarea class="stext-111 cl16 plh3 size-120 p-lr-28 p-tb-25" name="msg" placeholder="How Can We Help?"></textarea>
						</div>
				
						<!-- Submit Button -->
						<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Submit
						</button>
					</form>
				</div>
				

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl16">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								SoleWay Fashion Store, Kochi Kerala
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl16">
								Lets Talk
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								6238381782
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl16">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								solewaysalesteam@gmail.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	




	<!-- Footer -->
	<%- include('./partials/userFooter.ejs') %>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Toastify JS -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script>
	document.querySelector("form").addEventListener("submit", async (e) => {
		e.preventDefault();
	
		const name = e.target.name.value;
		const email = e.target.email.value;
		const subject = e.target.subject.value;
		const comment = e.target.msg.value;
	
		try {
			const response = await fetch("/feedback", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({ name, email, subject, comment }),
			});
	
			const data = await response.json();
			
			
			if (response.ok) {
				Toastify({
					text: data.message,
					duration: 3000,
					close: true,
					gravity: "top", // Position: 'top' or 'bottom'
					position: "center", // Position: 'left', 'center' or 'right'
					backgroundColor: "#4CAF50", // Success color
				}).showToast();
	
				e.target.reset();  // Reset form after successful submission
			} else {
				Toastify({
					text: data.message || "Failed to submit feedback",
					duration: 3000,
					close: true,
					gravity: "top",
					position: "center",
					backgroundColor: "#FF0000", // Error color
				}).showToast();
			}
		} catch (error) {
			console.error("Error:", error);
			Toastify({
				text: "An error occurred. Please try again later.",
				duration: 3000,
				close: true,
				gravity: "top",
				position: "center",
				backgroundColor: "#FF0000", // Error color
			}).showToast();
		}
	});
	</script>
	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>