<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%- include('./partials/solewayCss.ejs') %>



        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- In the <head> section -->
        <link rel="stylesheet" href="user-assets/css/cart.css">

        <script src="/public/cart.js"></script>

</head>



<body class="animsition">

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">

            <!-- Topbar -->
            <%- include('./partials/solewayTopBar.ejs') %>
                <!-- Topbar end -->

                <div class="wrap-menu-desktop how-shadow1">
                    <nav class="limiter-menu-desktop container">

                        <!-- Logo desktop -->
                        <a href="/" class="logo">
                            <img src="/images/icons/SOLEWAY WHITE LOGO.png" alt="IMG-LOGO">
                        </a>

                        <!-- Menu desktop -->
                        <div class="menu-desktop">
                            <ul class="main-menu">
                                <li>
                                    <a href="/">Home</a>

                                </li>

                                <li>
                                    <a href="/Shop">Shop</a>
                                </li>

                                <li>
                                    <a href="/Blog">Blog</a>
                                </li>

                                <li>
                                    <a href="/About">About</a>
                                </li>

                                <li>
                                    <a href="/Contact">Contact</a>
                                </li>
                            </ul>
                        </div>


                    </nav>
                </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="/images/icons/SOLEWAY WHITE LOGO.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">


                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>


            <!-- Menu Mobile -->
            <div class="menu-mobile">

                <ul class="main-menu-m">
                    <li>
                        <a href="/" style="text-decoration: none;">Home</a>


                    </li>

                    <li>
                        <a href="/Shop" style="text-decoration: none;">Shop</a>
                    </li>



                    <li>
                        <a href="/Blog" style="text-decoration: none;">Blog</a>
                    </li>

                    <li>
                        <a href="/About" style="text-decoration: none;">About</a>
                    </li>

                    <li>
                        <a href="/Contact" style="text-decoration: none;">Contact</a>
                    </li>
                    <li>
                        <a href="/Account" style="text-decoration: none;">Account</a>

                    </li>


                    <% if (locals.findUser) { %>
                        <li>
                            <a href="/logout" style="text-decoration: none;">Logout</a>

                        </li>
                        <% } else { %>
                            <li>
                                <a href="/Login" style="text-decoration: none;">Login</a>

                            </li>
                            <li></li>
                            <a href="/Register" style="text-decoration: none;">Register</a>

                            </li>


                            <% } %>




                </ul>
            </div>

            <!-- Modal Search -->

    </header>

    <!-- Cart -->



    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Shoping Cart
            </span>
        </div>
    </div>


    <!-- Shoping Cart -->


    <style>

    </style>

    <!-- Updated EJS Template -->
    <% if (locals.cartData && cartData.cartProducts.length> 0) { %>
        <form class="bg0 p-t-75 p-b-85" method="post" action="/orderData">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 m-lr-auto m-b-50">
                        <div class="m-l-25 m-r--38 m-lr-0-xl">
                            <div class="table-responsive-wrap">
                                <table class="table-shopping-cart">
                                    <thead>
                                        <tr class="table_head">
                                            <th class="column-1">Product</th>
                                            <th class="column-3">Price</th>
                                            <th class="column-2">Size</th>
                                            <th class="column-4">Quantity</th>
                                            <th class="column-5">Total</th>
                                            <th class="column-6">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0; i < cartData.cartProducts.length; i++) { %>
                                            <% if(cartData.cartProducts[i].productId) { %>
                                                <tr class="table_row">
                                                    <td class="column-1" data-label="Product">
                                                        <div class="product-info">
                                                            <div class="how-itemcart1">
                                                                <img src="../<%= cartData.cartProducts[i].productId.images ? cartData.cartProducts[i].productId.images[0] : 'default-image.jpg' %>"
                                                                    alt="IMG">
                                                            </div>
                                                            <div class="product-name">
                                                                <span>
                                                                    <%= cartData.cartProducts[i].productId.productName
                                                                        %>
                                                                </span>
                                                                <input type="hidden" id="productId<%= i %>"
                                                                    value="<%= cartData.cartProducts[i]._id %>">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="column-3" data-label="Price">₹<%=
                                                            cartData.cartProducts[i].productId.offerPrice ||
                                                            cartData.cartProducts[i].productId.realPrice %>
                                                    </td>
                                                    <td class="column-2" data-label="Size">
                                                        <%= cartData.cartProducts[i].size %>
                                                    </td>
                                                    <td class="column-4" data-label="Quantity">
                                                        <div class="wrap-num-product">
                                                            <div class="btn-num-product-down"
                                                                onclick="decreaseQuantity(this)">
                                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                                            </div>
                                                            <input class="num-product" type="number"
                                                                name="num-product<%= i %>"
                                                                value="<%= cartData.cartProducts[i].quantity %>" min="1"
                                                                max="10"
                                                                data-product-id="<%= cartData.cartProducts[i].productId._id %>"
                                                                data-sizes-id="<%= cartData.cartProducts[i].size %>"
                                                                data-price="<%= cartData.cartProducts[i].productId.offerPrice || cartData.cartProducts[i].productId.realPrice %>">
                                                            <div class="btn-num-product-up"
                                                                onclick="increaseQuantity(this)">
                                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="column-5 total-price" data-label="Total">₹<%=
                                                            (cartData.cartProducts[i].quantity *
                                                            (cartData.cartProducts[i].productId.offerPrice ||
                                                            cartData.cartProducts[i].productId.realPrice)).toFixed(2) %>
                                                    </td>
                                                    <td class="column-6" data-label="Action">
                                                        <button type="button" class="btn btn-danger"
                                                            onclick="deleteCartItem('<%= i%>')">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } else { %>
                                                    <tr class="table_row">
                                                        <td colspan="6" class="column-1" data-label="Error">
                                                            <span>Product not found or inactive.</span>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                                <div class="total-amount m-b-10">
                                    <strong>Total Amount: ₹ <span id="total-amount"></span></strong>
                                </div>
                                <a href="/Checkout"
                                    class="flex-c-m stext-101 cl0 size-119 bg11 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                    Proceed to Checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <% } else { %>
            <div class="container text-center my-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="alert alert-warning" role="alert">
                            <i class="bi bi-cart-x" style="font-size: 3rem;"></i>
                            <h4 class="alert-heading mt-3">Your cart is empty!</h4>
                            <p>Looks like you haven't added anything to your cart yet.</p>
                            <hr>
                            <a href="/Shop" class="btn btn-primary">Start Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>



                <!-- Footer -->
                <%- include('./partials/userFooter.ejs') %>

                    <!-- Back to top -->
                    <div class="btn-back-to-top" id="myBtn">
                        <span class="symbol-btn-back-to-top">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </span>
                    </div>

                    <!--===============================================================================================-->
                    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="vendor/animsition/js/animsition.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="vendor/bootstrap/js/popper.js"></script>
                    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="vendor/select2/select2.min.js"></script>

                    <!-- Include SweetAlert2 -->
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


                    <script>
                        $(".js-select2").each(function () {
                            $(this).select2({
                                minimumResultsForSearch: 20,
                                dropdownParent: $(this).next('.dropDownSelect2')
                            });
                        })
                    </script>
                    <!--===============================================================================================-->
                    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
                    <script>
                        $('.js-pscroll').each(function () {
                            $(this).css('position', 'relative');
                            $(this).css('overflow', 'hidden');
                            var ps = new PerfectScrollbar(this, {
                                wheelSpeed: 1,
                                scrollingThreshold: 1000,
                                wheelPropagation: false,
                            });

                            $(window).on('resize', function () {
                                ps.update();
                            })
                        });
                    </script>
                    <!--===============================================================================================-->
                    <script src="js/main.js"></script>
                    <script src="/user-assets/js/cart.js"></script>
                    <!-- Before closing </body> tag -->


</body>

</html>